@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideToCenter {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .scroll-slide {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  .scroll-slide.show {
    transform: translateX(0);
    opacity: 1;
  }
  
/* styles/globals.css or styles.css */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  
  .testimonial-card {
    position: relative;
    background: transparent; /* Remove background color */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Remove default shadow */
  }

  .testimonial-card::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%; /* Adjust the size of the glow */
    height: 60%; /* Adjust the size of the glow */
    background: radial-gradient(circle, rgba(128,0,128,0.5) 0%, rgba(128,0,128,0) 60%); /* Adjust the gradient stops */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(6px); /* Adjust the blur for a softer effect */
    z-index: -1;
  }
.bg-gradient-radial {
    background: radial-gradient(circle, rgba(75,0,130,0.5) 25%, rgba(75,0,130,0) 75%);
    border-radius: 50%;
    filter: blur(70px); /* Adjust the blur effect */
  }

  /* Adjust size and positioning of the glow */
  .w-80 {
    width: 30rem; /* Adjust size as needed */
  }

  .h-80 {
    height: 30rem; /* Adjust size as needed */
  }

  